
:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  &.swiper-button-disabled {
    // opacity: 0.35;
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  border-radius: 100%;
  background-image: url(https://static.mservice.io/next-js/_next/static/public/slide-arrow.svg);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 24px 35px;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.16));
  background-color: white;

  &:hover, &:focus{
    opacity: 0.8;
  }

  &:active{
    transform: scale(0.96);
  }
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(https://static.mservice.io/next-js/_next/static/public/slide-arrow-left.svg);
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {

  right: 10px;
  left: auto;
}


// @each $navColorName, $navColorValue in $colors {
//   .swiper-button-prev,
//   .swiper-button-next {
//     &.swiper-button-#{'' + $navColorName} {
//       --swiper-navigation-color: #{'' + $navColorValue};
//     }
//   }
// }
.swiper-button-lock {
  display: none;
}
