// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer utilities {
main {
  &.page-article,
  &.article-detail {
    font-family: 'Nunito', Helvetica, sans-serif;
  }
}

.page-article .main-menu,
.page-article .mobile-menu:not(.active) {
  position: relative;
}

.article-feature {
  position: relative;
  padding-bottom: 48px;

  @media (min-width: 768px) {
    padding-bottom: 58px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 68px;
  }
}

.article-feature:after {
  content: '';
  position: absolute;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  background: #E0E0E0;
  border-radius: 100px;
  width: 70px;
  height: 7px;

  @media (min-width: 768px) {
    bottom: 30px;
  }

  @media (min-width: 1024px) {
    bottom: 40px;
  }
}

.article-type-normal,
.article-type-relate {
  .article-title {
    -webkit-line-clamp: 3;
  }
}

.article-type-popular {
  .article-title {
    -webkit-line-clamp: 4;
  }
}

@media screen and (min-width: 768px) {

  .article-type-big-feature,
  .article-type-feature {
    .article-title {
      -webkit-line-clamp: 2;
    }
  }

  .article-type-popular {
    .article-title {
      -webkit-line-clamp: unset;
    }
  }
}

.page-article {
  .article-new {
    .article-thumb {
      position: relative;

      &:after {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(165, 0, 100, 0.3);
        opacity: 0;
        transition: all 180ms ease-in;
      }
    }

    &:hover {
      .article-thumb {
        &:after {
          opacity: 1;
        }
      }
    }

    .article-cate:hover {
      color: #a50064 !important;
    }
  }

  .article-detail h1 {
    font-size: 1.45rem;
    line-height: 130%;
  }

  .article-detail .article-desc {
    font-weight: bold;
    color: #828282;
    font-size: 18px;
    line-height: 160%;
  }

  .article-content {
    font-family: 'Nunito', Helvetica, sans-serif;
    color: #4F4F4F;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 600;
    max-width: 100vw;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
      max-width: 70vw;
    }

    @media screen and (min-width: 1152px) {
      max-width: 774px;
    }

    .d-none {
      display: none;
    }

    .btn {
      @apply inline-block text-center px-4 py-2 text-sm font-bold rounded-md bg-pink-700 text-white text-opacity-90 transition-all;

      &:hover {
        @apply bg-pink-800;
      }
    }

    .embed-responsive {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive-16by9::before {
      padding-top: 56.25%;
    }

    .embed-responsive::before {
      display: block;
      content: "";
    }

    .embed-responsive iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    // a {
    //   text-decoration: none;
    //   transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    //   color: var(--pinkmomo);
    //   &:active {
    //     color: var(--pinkmomo);
    //     -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
    //   }
    // }
    .subtitle {
      color: #828282;
      font-weight: bold;
      font-style: italic;
      font-size: 1.125rem;
    }

    h1,
    .h1 {
      color: #A50064;
      font-weight: 700;
      overflow-wrap: break-word;
      font-size: 1.625rem;
      line-height: 2.113rem;
      margin-top: 2.875rem;
      margin-bottom: 1.5rem;

      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    h2,
    .h2 {
      color: #A50064;
      font-weight: 700;
      overflow-wrap: break-word;
      font-size: 1.25rem;
      line-height: 1.688rem;
      margin-top: 2rem;
      margin-bottom: 1rem;

      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    h3,
    .h3 {
      color: #F45197;
      font-weight: 700;
      overflow-wrap: break-word;
      font-size: 1.125rem;
      line-height: 1.563rem;
      margin-top: 2rem;
      margin-bottom: 1rem;

      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    h4,
    .h4 {
      font-weight: 700;
      overflow-wrap: break-word;

      // font-size: 1.125rem;
      // line-height: 1.5rem;
      // margin-top: 2rem;
      // margin-bottom: 1rem;
      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    ol {
      padding-left: 2em;
      list-style-position: outside;
      list-style-type: decimal;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    ul {
      padding-left: 1.2em;
      list-style-position: outside;
      list-style-type: disc;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 0.5em;
      }

      ol {
        margin-top: 0.5em;
      }

      ul {
        margin-top: 0.5em;
      }
    }

    blockquote {
      font-weight: 600;
      overflow-wrap: break-word;
      color: var(--gray-600);
      font-size: 1em;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
      padding-left: 1em;
      border-left: solid 0.12em var(--pinkmomo);

      >p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    details[open] {
      summary {
        margin-bottom: 1em;
      }
    }

    hr {
      display: block;
      margin: 1.5em 0;
      border: 0;
      text-align: center;
      height: auto;
      color: var(--pinkmomo);
      font-weight: 300;

      &::after {
        content: "\2042";
      }
    }

    figcaption {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      color: rgba(0, 0, 0, 0.45);
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;

      a {
        font-weight: inherit;
        color: inherit;
        text-decoration: underline;
      }
    }

    b,
    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    a {
      &:not(.button, .btn) {
        text-decoration: none;
        transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        color: #2F80ED;
        font-weight: 600;

        &:active {
          color: var(--pinkmomo);
          -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
        }
      }
    }

    h5 {
      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    h6 {
      a {
        font-weight: inherit;
      }

      strong {
        font-weight: inherit;
      }
    }

    img {
      &:not([class]) {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
      }
    }

    figure {
      iframe {
        border-radius: 0.25rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        display: block;
        overflow: hidden;
      }

      &:not([class]) {
        img {
          border-radius: 0.25rem;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
          display: block;
          overflow: hidden;
          width: 100%;
          margin-top: 1em;
        }
      }

      + {
        ol {
          margin-top: 2em;
        }

        p {
          margin-top: 2em;
        }

        ul {
          margin-top: 2em;
        }
      }
    }

    video {
      border-radius: 0.25rem;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      display: block;
      overflow: hidden;
      width: 100%;
      margin-top: 1em;
    }

    figure.embed {
      width: 100%;
      margin-top: 1em;
    }

    .gallery-top {
      --swiper-pagination-color: #fff;

      .post-slider-caption {
        display: none;
        background-color: rgba(156, 154, 154, 0.45);
        position: absolute;
        padding: 6px 10px;
        color: #fff;
        font-size: 1rem;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        @media screen and (min-width: 1024px) {
          display: block;
        }
      }

      .swiper-pagination-bullet-active {
        background-color: #fff;
      }
    }

    .gallery-thumbs {
      .post-slider-caption {
        display: none;
      }
    }
  }

  .question-title {
    @apply text-gray-800;

    &:hover {
      @apply text-pink-600;
    }
  }

  .guide-panel {
    .guide-tab {
      margin-bottom: 1.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 0;
    }

    .tab-item {
      line-height: 1.3;
      white-space: normal;
      padding: 0 8px 0 12px;
      min-width: calc(80% / 4);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
      transition: all .4s ease;
      color: #212121;
      background: #e0e0e0;
      font-size: 15px;
      margin: 0 15px;
      font-weight: 700;

      &:before {
        transition: all .4s ease;
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 26px solid transparent;
        border-bottom: 26px solid transparent;
        border-left: 16px solid #e0e0e0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        z-index: 3;
        margin-left: -2px;
      }

      &[data-selected] {
        color: #fff;
        background: #a50064;

        &::before {
          border-left: 16px solid #a50064;
        }
      }
    }
  }
}

.article-type-prefer {
  &:hover {
    .article-title {
      @apply text-momo;
    }
  }

  .article-title {
    @apply font-bold text-lg;
    color: #212121;
    -webkit-line-clamp: 2;
  }

  .article-short {
    @apply text-sm text-gray-400;
    @extend .text-truncate-row;
    font-weight: 600;
    -webkit-line-clamp: 2;
  }

  .article-footer {
    @apply text-sm flex;
  }

  .article-offdate {
    span {
      @apply text-gray-500;
    }
  }

  .article-xemchitiet {
    @apply flex-auto text-blue-500;

    &:hover {
      @apply text-momo;
    }
  }
}

#article_menu {
  .img-black {
    filter: brightness(0%);
  }
  .nav-item:hover .img-black {
    filter: none;
  }
  .nav-item.is-active .img-black {
    filter: none;
  }
  .nav-item {
    position: relative;
  }
  .nav-item:hover a,
  .nav-item.is-active a {
    color: #a50064;
  }
  .nav-item + .nav-item::before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("https://static.mservice.io/next-js/_next/static/public/article/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    opacity: 0.6;
  }
  .cat-item + .cat-item::before {
    left: 0;
    width: 2px;
    height: 21px;
    background-image: url("https://static.mservice.io/next-js/_next/static/public/article/Rectangle.svg");
  }
}
.page-ota .react-datepicker-popper {
  z-index: 99;
}
// }