.soju-di-quay {
  // @apply text-indigo-600 hover:text-indigo-800 border-indigo-400;
 

  color: #c09;
  border-color: #c09;
  &:hover{
    color: darken(#c09, 10%)
  }
}

.soju-du-hi {
  // @apply text-blue-600 hover:text-blue-800 border-blue-500;
  color: #007ce8;
  border-color: #007ce8;
  &:hover{
    color: darken(#007ce8, 10%)
  }
}

.soju-mua-gi {
  @apply text-green-700 hover:text-green-800 border-green-500;
}

.soju-them-an {
  // @apply text-red-600 hover:text-red-800 border-red-400;

  color: #fa320a;
  border-color: #fa320a;
  &:hover{
    color: darken(#fa320a, 10%)
  }
}

.soju-chon-momo {
  @apply text-pink-600 hover:text-pink-800 border-pink-500;
}

.soju-game {
  @apply text-yellow-700 hover:text-yellow-800 border-yellow-500;


}

.soju-tai-chinh-bao-hiem {
  color: #00b7eb;
  border-color: #00b7eb;
}

.soju-doi-song {
  color: #0d7500;
  border-color: #0d7500;
}

.page-blog {
  background-color: #fff;
  background-image: url(https://static.mservice.io/jk/momo2020/img/magazine/background-blog-soju-2.svg);
  background-position: top center;
  background-repeat: no-repeat;

  @media screen and (max-width: 500px) {
    background-size: 210% auto;
  }

  .main-menu {
    position: relative;
    background-color: transparent;
    filter: none;
    box-shadow: none;
    border-bottom: none;
    backdrop-filter: none;
  }
  .mobile-menu:not(.active) {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
    border-bottom: none;
  }
}


.post__sapo__hr::after {
  content: "\2042";
}

.svg-icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: 0 0;
  cursor: pointer;
}

table {
  margin-bottom: 20px;

  @apply table-auto text-base;
  td {
    @apply border-gray-300 border py-1 px-2 md:px-4  md:py-2;
  }
}

//Blog typography

.soju__prose {
  // color: rgba(0, 0, 0, 0.85);
  // -webkit-font-smoothing: antialiased;
  // // font-family: 'Inter', sans-serif;
  // em {
  //   font-size: 85%;
  //   color: rgba(0, 0, 0, 0.5);
  // }

  h2,
  h3 {
    scroll-margin-top: 90px;
  }

  /* Safari-only */
  @supports (-webkit-hyphens: none) {
    h2,
    h3 {
      padding-top: 90px !important;
      margin-top: -70px !important;
    }
  }

  img {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
    height: auto !important;
  }
}

.soju__prose {
  color: rgba(0, 0, 0, 0.85);
  // line-height: 1.5;
  // font-size: 17px;

  .d-none {
    display: none;
  }

  .btn {
    @apply inline-block text-center px-4 py-2 text-sm font-bold rounded-md bg-pink-700 text-white text-opacity-90 transition-all hover:bg-pink-800;
  }

  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .embed-responsive-16by9::before {
    padding-top: 56.25%;
  }

  .embed-responsive::before {
    display: block;
    content: "";
  }

  .embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  // a {
  //   text-decoration: none;
  //   transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  //   color: var(--pinkmomo);
  //   &:active {
  //     color: var(--pinkmomo);
  //     -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
  //   }
  // }

  h1 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 2.625rem;
    line-height: 2.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h2 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h3 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.375rem;
    line-height: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  h4 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  ol {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: decimal;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  ul {
    padding-left: 1.2em;
    list-style-position: outside;
    list-style-type: disc;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  p {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    ol {
      margin-top: 0.5em;
    }
    ul {
      margin-top: 0.5em;
    }
  }
  blockquote {
    font-weight: 600;
    overflow-wrap: break-word;
    color: var(--gray-600);
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding-left: 1em;
    border-left: solid 0.12em var(--pinkmomo);
    > p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  details[open] {
    summary {
      margin-bottom: 1em;
    }
  }
  hr {
    display: block;
    margin: 1.5em 0;
    border: 0;
    text-align: center;
    height: auto;
    color: var(--pinkmomo);
    font-weight: 300;
    &::after {
      content: "\2042";
    }
  }
  figcaption {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }

  img + em {
    color: var(--gray-600);
    font-size: 15px;
    display: inline-block;
    margin-top: 8px;
  }

  a {
    &:not(.button, .btn) {
      text-decoration: none;
      transition: color 120ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      color: var(--pinkmomo);
      font-weight: 600;
      &:active {
        color: var(--pinkmomo);
        -webkit-tap-highlight-color: rgba(251, 131, 50, 0.08);
      }
    }
  }
  h5 {
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h6 {
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  img {
    &:not([class]) {
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
    }
  }
  figure {
    iframe {
      border-radius: 0.25rem;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      display: block;
      overflow: hidden;
    }
    &:not([class]) {
      img {
        border-radius: 0.25rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        display: block;
        overflow: hidden;
        width: 100%;
        margin-top: 1em;
      }
    }
    + {
      ol {
        margin-top: 2em;
      }
      p {
        margin-top: 2em;
      }
      ul {
        margin-top: 2em;
      }
    }
  }
  video {
    border-radius: 0.25rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 1em;
  }
  figure.embed {
    width: 100%;
    margin-top: 1em;
  }
}

@media screen and (min-width: 768px) {
  .soju__prose {
    h1 {
      font-size: 4.25rem;
      line-height: 4.5rem;
      margin-bottom: 2rem;
    }
    h2 {
      overflow-wrap: break-word;
      font-size: 1.75rem;
      line-height: 2rem;
      margin-top: 3rem;
    }
    h3 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    h4 {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
    blockquote {
      font-size: 1em;
      line-height: 1.6;
      > footer {
        font-size: 0.75em;
      }
    }
  }
}
.soju__prose.small {
  h1 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 2.625rem;
    line-height: 2.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h2 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
  h3 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }

  h4 {
    font-weight: 700;
    overflow-wrap: break-word;
    font-size: 1;
    line-height: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    a {
      font-weight: inherit;
    }
    strong {
      font-weight: inherit;
    }
  }
}

help-article{
  display: none;
}