@import "swiper/swiper";

@import "node_modules/lightgallery/scss/lightgallery.scss";
@import "node_modules/lightgallery/scss/lg-thumbnail.scss";
@import "node_modules/lightgallery/scss/lg-video.scss";

// @import "datepicker";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "articles";
@import "blogs";
@import "ota";

@layer utilities {
  .z-60 {
    z-index: 60;
  }
  .z-1 {
    z-index: 1;
  }
  .z-2 {
    z-index: 2;
  }
  .z-15 {
    z-index: 15;
  }

  .z-12 {
    z-index: 12;
  }
  .shadow-soju1 {
    box-shadow: 0 2px 8px 0 rgba(20, 16, 11, 0.07);
  }
  .shadow-level3 {
    --tw-shadow: 0px 0.6px 1.8px rgb(0, 0, 0, 10%), 0px 3.2px 7.2px rgb(0, 0, 0, 13%);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
      var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }
}

body {
  --grad-rgb-color: 255 255 255;
}

* {
  --header-height: 52px;
  --header-sticky-mb: 52px;

  &:focus {
    outline-width: 0 !important;
    outline: none !important;
  }
}

*:-webkit-direct-focus {
  outline: none;
}

.aspect-77-37 {
  --tw-aspect-w: 77;
  --tw-aspect-h: 37;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .table {
    width: 100%;
    th,
    td {
      min-width: 120px;
    }
  }
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-truncate-row {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-rows-2 {
  -webkit-line-clamp: 2;
}
.text-rows-3 {
  -webkit-line-clamp: 3;
}
.btn-default {
  @apply inline-block px-4 py-2 text-sm font-bold text-center transition-all border rounded-md  text-opacity-90;

  &.medium {
    @apply px-5 py-2 text-base rounded-lg;
  }
}
.btn-primary {
  @apply inline-block px-4 py-2 text-sm font-bold text-center text-white transition-all bg-pink-700 border border-pink-700 rounded-md  text-opacity-90 hover:bg-pink-800;

  &.medium {
    @apply px-5 py-2 text-base rounded-lg;
  }
}
.btn-primary-outline {
  @apply inline-block px-4 py-2 text-sm font-bold text-center text-pink-700 border border-pink-700 transition-all rounded-md text-opacity-90 hover:bg-gray-100;

  &.medium {
    @apply px-5 py-2 text-base rounded-lg;
  }
}

.top-sticky-menu {
  top: var(--header-sticky-mb);
}

button:focus {
  outline: none;
}

.font-inter {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

.font-nunito {
  font-family: "Nunito", Helvetica, sans-serif;
}

.fadeInDown {
  animation: fadeInDown 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fadeInUp {
  animation: fadeInUp 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fadeIn {
  animation: fadeIn 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//Cho readmore
.LinesEllipsis-ellipsis {
  @apply text-blue-500 cursor-pointer;
}

.cinema-scroll-margin {
  scroll-margin: 90px;
}

@media screen and (max-width: 767px) {
  .cinema-scroll-margin {
    scroll-margin: 55px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button:disabled {
  opacity: 0.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu__content {
  [data-reach-accordion-item][data-state="open"] .icon {
    transform: rotate(180deg);
  }
}
.normal-accordion {
  [data-reach-accordion-item][data-state="open"] .icon {
    transform: rotate(90deg);
  }
}

[data-reach-accordion-panel] {
  /* styles for all accordion panels */
}
[data-reach-accordion-panel][data-state="open"] {
  animation: fadeInDown 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
[data-reach-accordion-panel][data-state="collapsed"] {
  /* styles for all collapsed accordion panels */
}
[data-reach-accordion-panel][data-disabled] {
  /* styles for all disabled accordion panels */
}

[data-reach-menu-button][aria-expanded="true"] .icon {
  transform: rotate(180deg);
}

.text-ani-fade {
  animation: fadeInDown 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//Css Carousel

.soju-carousel {
  > * {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      // scroll-snap-align: center;

      // scroll-snap-align: start;
    }
  }
}

.scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

.rc-pagination-item,
.rc-pagination-jump-next,
.rc-pagination-jump-prev,
.rc-pagination-prev,
.rc-pagination-next {
  cursor: pointer;
  &:hover {
    button {
      @apply bg-gray-200;
    }
  }
  &.rc-pagination-disabled {
    cursor: auto;

    &:hover {
      button {
        @apply bg-gray-100;
      }
    }
  }
  &.rc-pagination-item-active {
    cursor: auto;
    button {
      @apply shadow bg-white font-bold;
    }
  }
}

.fix-header .main-menu,
.fix-header .mobile-menu:not(.active) {
  position: relative;
}

.breadcrumb-item {
  @apply relative;

  & + .breadcrumb-item:before {
    content: "";
    opacity: 0.3;
    width: 1.5rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;

    left: -6px;
    top: 2px;
    position: absolute;
  }

  .beardcrumb-content {
    @apply relative transition;
  }

  &:hover {
    .beardcrumb-content {
      @apply -translate-y-0.5;
    }
  }
}

.breadcrumb-cat {
  & + .breadcrumb-cat:before {
    @apply bg-gray-500;
    background-image: none;
    width: 1px;
    opacity: 0.5;

    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.gui-toast-group {
  position: fixed;

  bottom: 0;
  z-index: 9999;
  left: 0;
  right: 0;
  padding-block-end: 3vh;

  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;

  /* optimizations */
  pointer-events: none;
}

.gui-toast {
  --_duration: 3s;
  --_bg-lightness: 90%;
  --_travel-distance: 0;

  color: var(--gray-900);
  // background: hsl(0 0% var(--_bg-lightness) / 90%);
  background-color: #fcdfdb;

  max-inline-size: min(34ch, 90vw);

  padding: 8px 10px;

  border-radius: 6px;
  line-height: 1.3;

  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease,
    fade-out 0.3s ease var(--_duration);

  @media (--motionOK) {
    --_travel-distance: 5vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(var(--_travel-distance, 10px));
  }
}




// .circle {
// 	position: absolute;
// 	border-radius: 50%;
//   box-shadow: 0 0 10px #fff;
//   mix-blend-mode: overlay;
// }


// @for $i from 1 through 95 {
// 	$size: random(60) + px;
// 	.circle:nth-child(#{$i}){
// 		background: rgba(255,255,255,0.4);
		

// 		top: random(100) + 0%;
//     left: random(100) + 0%;
//     width: $size;
//     height: $size;
//     opacity: calc(0.3 + random(100) / 100);
//     animation: float#{$i} 20s infinite linear;
// 	}
// }

// @for $i from 1 through 95 {
//   $movex: random(100) - 20 + px;
//   $movey: random(400) - 300 + px;
//   $movex2: random(200) - 50 + px;
//   $movey2: random(400) - 100 + px;
//   @keyframes float#{$i} {
//     40% {
//       transform: translateX($movex) translateY($movey);
//     }
//     80% {
//       transform: translateX($movex2) translateY($movey2);
//     }
//   }
// }


// @keyframes spin {
//   from {
//     transform: rotate(0deg);
//     transform-origin: 50% 50%;
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }