.page-ota .main-menu,
.page-ota .mobile-menu:not(.active) {
  position: relative;
}

.block-form-ota {
  label {
    font-size: 15px;
    font-weight: 600;
  }

  .group-input {
    .icon {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      z-index: 1;
    }

    .input {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .popup-ota {
    left: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(40 154 241 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    box-sizing: border-box;
    overflow: hidden;
  }

  .modal-hanhkhach {
    .hk-name {
      font-weight: 700;

      small {
        display: block;
        font-weight: 400;
      }
    }

    .hk-count {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2f80ed;
    }

    .btn-group {
      border: 1px solid #bdbdbd;
      border-radius: 100px;
      overflow: hidden;
      position: relative;
      display: inline-flex;
      vertical-align: middle;

      .btn {
        position: relative;
        flex: 1 1 auto;
        background-color: #fff;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        height: 35px;
        color: #a50064;
        border: none;
        outline: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3rem 0.95rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:first-child::after {
          content: "";
          border-right: 2px solid #828282;
          width: 0;
          height: 80%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .btn:disabled {
        background: rgba(204, 204, 204, .6);
        color: #fff;
        opacity: .65;
      }

      .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #A50064;
  }
}

.swp-brand {
  --swiper-navigation-size: 34px;
  .swiper-button-prev,
  .swiper-button-next {
    background-size: auto 80%;
  }
}